@()(implicit request: RequestHeader)

@main("wrdrb") {
  <div id="react-root"></div>
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <input type="hidden" id="outfitLogRoute" value="@routes.Application.outfitLog">

  <input type="hidden" id="getAllBinsRoute" value="@routes.Application.getAllBins">
  <input type="hidden" id="getBinRoute" value="@routes.Application.getBin("input")">
  <input type="hidden" id="addBinRoute" value="@routes.Application.addBin">
  <input type="hidden" id="deleteBinRoute" value="@routes.Application.deleteBin("input")">
  <input type="hidden" id="addArticleToBinRoute" value="@routes.Application.addArticleToBin("id1", "id2")">
  <input type="hidden" id="removeArticleFromBinRoute" value="@routes.Application.removeArticleFromBin("id1", "id2")">


  @*<input type='file' id='fileUpload' onChange={props.onChange} /> *@
  <script src="@routes.Assets.versioned("javascript/react-main.js")" type="module"></script>
}
